{% if 'hamburger' in nav_meun_display %}
  <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      <nav class="navbar-dark bg-dark">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#cavalla_navbar" aria-controls="cavalla_navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <a class="navbar-brand" href="#">{{ logo }}</a>

        {{ page.cart }}
        <div class="navbar-collapse collapse" id="cavalla_navbar">
          {{ page.primary_menu }}
        </div>
      </nav>
  </header>
{% endif %}


{% if 'tradition' in nav_meun_display %}
  <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      <nav class="navbar-dark bg-dark">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#cavalla_navbar" aria-controls="cavalla_navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <a class="navbar-brand" href="#">{{ logo }}</a>
        {{ page.cart }}
        <div class="navbar-collapse collapse" id="cavalla_navbar">
          {{ page.primary_menu }}
        </div>
      </nav>
  </header>
{% endif %}


{% if 'centered' in nav_meun_displat %}
  <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      <nav class="navbar-dark bg-dark">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#cavalla_navbar" aria-controls="cavalla_navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <a class="navbar-brand" href="#">{{ logo }}</a>

        {{ page.cart }}
        <div class="navbar-collapse collapse" id="cavalla_navbar">
          {{ page.primary_menu }}
        </div>
      </nav>
  </header>
{% endif %}